body {
  font-family: sans-serif;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  width: 50%;
  background-color: #add8e6;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
h2 {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #d2e5ec;
  margin-bottom: 20px;
}
label {
  font-size: 14px;
  margin-bottom: 5px;
}
.select {
  margin-bottom: 15px;
}
input {
  height: 35px;
  outline: none;
  border: none;
  padding: 10px;
  background-color: #f1f1f1;
  margin-bottom: 15px;
}
textarea {
  max-width: 100%;
  min-width: 300px;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  margin-bottom: 15px;
  padding: 10px;
}
select {
  background-color: #f1f1f1;
  border: none;
}
#btn {
  background-color: green;
  color: white;
  height: 35px;
  margin-bottom: 0;
  cursor: pointer;
}
.email,
.pass,
.retype {
  font-weight: bold;
}
.error {
  position: relative;
  bottom: 10px;
  font-size: 13px;
  color: red;
  font-family: cursive;
}
.radio {
  display: flex;
  flex-direction: column;
}
.radio div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.radio div label {
  position: relative;
  bottom: 5px;
}
.texts {
  display: flex;
  flex-direction: column;
  height: 100px;
}
